<!-- <div class="row col-12 d-flex align-items-center justify-content-center">
    <mat-card class="col-md-4 conta-card" routerLink="boletos">
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" aria-label="import_export icon">receipt</mat-icon>
            <mat-card-title>Boletos</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="col-md-4 conta-card" routerLink="impostos">
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" aria-label="import_export icon">attach_money</mat-icon>
            <mat-card-title>Impostos</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="col-md-4 conta-card" routerLink="outras">
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" aria-label="import_export icon">list_alt</mat-icon>
            <mat-card-title>Outras contas</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="col-md-4 conta-card" routerLink="migrar">
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" aria-label="import_export icon">import_export</mat-icon>
            <mat-card-title>Migrar notas fiscais</mat-card-title>
        </mat-card-header>
    </mat-card>
</div> -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">done</i>
                        </div>

                        <h3 class="card-title">Aprovar reembolsos
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">arrow_right_alt</i>
                            <a routerLink="aprovar">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">record_voice_over</i>
                        </div>

                        <h3 class="card-title">Solicitar reembolso
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">arrow_right_alt</i>
                            <a routerLink="solicitar">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">how_to_reg</i>
                        </div>

                        <h3 class="card-title">Minhas solicitações
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">arrow_right_alt</i>
                            <a routerLink="solicitacoes">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>