<h3>{{title}} de Impostos</h3>

<form [formGroup]="impostoForm" (ngSubmit)="Confirmar()" #formDir="ngForm" novalidate>
  <mat-card class="imposto-card">
    <div class="example-container">
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="ID da Conta" id="ID" formControlName="ID">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Status" id="Status" formControlName="Status">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="CNPJ Matriz" id="CNPJMatriz" formControlName="CNPJMatriz">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="pickerAPINI" placeholder="Período de Apuração" formControlName="PeriodoApuracaoInicio" required (input)="ValidarData()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="pickerAPFIM" placeholder="Período de Apuração" formControlName="PeriodoApuracaoFim" required (input)="ValidarData()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-8">
          <input matInput placeholder="Código do imposto" formControlName="CodigoImposto" name="CodigoImposto">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Nº Documento" formControlName="NumeroDocumento">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Série" formControlName="Serie">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput [matDatepicker]="pickerEm" placeholder="Data de emissão" formControlName="DataEmissao">
          <mat-datepicker-toggle matSuffix [for]="pickerEm"></mat-datepicker-toggle>
          <mat-datepicker #pickerEm></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="pickerVc" placeholder="Data de vencimento" formControlName="DataVencimento">
          <mat-datepicker-toggle matSuffix [for]="pickerVc"></mat-datepicker-toggle>
          <mat-datepicker #pickerVc></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Tipo do documento" formControlName="TipoConta" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Valor do documento" formControlName="ValorDocumento">
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <input matInput placeholder="Multa" formControlName="Multa">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Juros" formControlName="Juros">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Valor a pagar" formControlName="ValorAPagar">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Código de barras" formControlName="LinhaDigitavel" >
        </mat-form-field>
      </div>
    </div>
    <div class="div-button">
      <button mat-raised-button (click)="Voltar()">Voltar</button>
      <button class="cancel" mat-raised-button type="reset">Cancelar</button>
      <button class="confirm" mat-raised-button type="submit">
        Confirmar
      </button>
    </div>
  </mat-card>
</form>
