<form [formGroup]="boletoForm" (ngSubmit)="Confirmar()" #formDir="ngForm" novalidate>
  <mat-card class="boleto-card">
    <mat-toolbar>
      <mat-toolbar-row>
          <mat-icon (click)="Voltar()">keyboard_arrow_left</mat-icon> Voltar
          <span class="example-spacer"></span>
        <h3>{{title}} de Boleto</h3>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="example-container">
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="ID Conta" type="text" formControlName="ID">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Status" formControlName="Status">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3">
          <input #IDFornecedor matInput placeholder="ID Fornecedor" formControlName="FornecedorID"
            (blur)="CarregarFornecedor()">
        </mat-form-field>
      </div>
      <div class="row" formGroupName="Fornecedor">
        <mat-form-field class="col-md-4">
          <input matInput placeholder="CNPJ" formControlName="CNPJ">
        </mat-form-field>
        <mat-form-field class="col-md-8">
          <input matInput placeholder="Razão Social" formControlName="RazaoSocial">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Nº Documento">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Série">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput [matDatepicker]="pickerEm" placeholder="Data de emissão" formControlName="DataEmissao">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput [matDatepicker]="pickerVc" placeholder="Data de vencimento" formControlName="DataVencimento">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Tipo do documento" formControlName="TipoConta">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Valor do documento" formControlName="ValorDocumento">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Multa" formControlName="Multa">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Juros" formControlName="Juros">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Valor a pagar" formControlName="ValorAPagar">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Código de barras" formControlName="LinhaDigitavel">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <div class="div-button">
    <button class="confirm" mat-raised-button type="submit">Confirmar</button>
    <button class="cancel" mat-raised-button type="button" (click)="Resetar()">Cancelar</button>
  </div>
</form>