.boleto-card{
    margin: 10px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

button {
  margin-right: 8px;
}
  