<mat-card class="boleto-card">
    <mat-toolbar>
        <span>Boletos</span>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <button mat-raised-button>Editar</button>
        <button mat-raised-button color="warn">Excluir</button>
        <i class="material-icons">more_vert</i>
    </mat-toolbar>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>
    </div>

</mat-card>