<div class="row">
    <div class="col-md-12">
        <mat-card class="">
            <mat-card-header>
                <mat-card-title>Impostos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="search">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="emissao">
                        <th mat-header-cell *matHeaderCellDef> Dt. Emissão </th>
                        <td mat-cell *matCellDef="let element"> {{element.emissao}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="vencimento">
                        <th mat-header-cell *matHeaderCellDef> Dt. Vencimento </th>
                        <td mat-cell *matCellDef="let element"> {{element.vencimento}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef> Valor </th>
                        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                    </ng-container>

                    <ng-container matColumnDef="juros">
                        <th mat-header-cell *matHeaderCellDef> Juros </th>
                        <td mat-cell *matCellDef="let element"> {{element.juros}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dtPgto">
                        <th mat-header-cell *matHeaderCellDef> Dt. Pagamento </th>
                        <td mat-cell *matCellDef="let element"> {{element.dtPgto}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valRec">
                        <th mat-header-cell *matHeaderCellDef> Valor recebido </th>
                        <td mat-cell *matCellDef="let element"> {{element.valRec}} </td>
                    </ng-container>

                    <ng-container matColumnDef="options" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>delete_outline</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>