@page
@model LoginModel

@{
	ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h4>Bem Vindo.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Username"></label>
					<input asp-for="Input.Username" class="form-control" style="text-transform:uppercase" autofocus />
					<span asp-validation-for="Input.Username" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				@*<div class="form-group">
						<div class="checkbox">
							<label asp-for="input.rememberme">
								<input asp-for="input.rememberme" />
								@html.displaynamefor(m => m.input.rememberme)
							</label>
						</div>
					</div>*@
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Confirmar</button>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
